<a href="https://colab.research.google.com/github/bhosalesahana-art/EXCEL-2026/blob/main/Assignmentpd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('sample_data/Book2.csv')

In [3]:
data.isnull()

    Emp_Id   Name  Department  Salary  Experience
0    False  False       False   False       False
1    False  False        True    True       False
2    False  False       False   False       False
3    False   True       False   False        True
4    False  False       False   False       False
5    False  False        True   False       False
6    False  False       False   False       False
7    False  False       False   False        True
8    False  False       False   False       False
9    False  False       False   False       False
10   False   True       False   False        True
11   False  False        True   False       False
12   False  False       False    True       False
13   False  False       False    True       False
14   False  False       False   False        True

In [4]:
data.isnull().sum()

Emp_Id        0
Name          2
Department    3
Salary        3
Experience    4
dtype: int64

In [5]:
data.fillna('Not Avaliable')

    Emp_Id           Name     Department         Salary     Experience
0        1            Ram          Sales        50000.0            5.0
1        2           Sana  Not Avaliable  Not Avaliable            3.0
2        3           Mega             HR        40000.0            2.0
3        4  Not Avaliable          Sales        60000.0  Not Avaliable
4        5          Laksh        Manager        55000.0            4.0
5        6           Sita  Not Avaliable        50000.0            5.0
6        1            Ram          Sales        50000.0            5.0
7        8           Ritu      Marketing        25000.0  Not Avaliable
8        9           Sara      Marketing        35000.0            2.0
9        3           Mega             HR        40000.0            2.0
10      11  Not Avaliable          Sales        45000.0  Not Avaliable
11      12          Sanam  Not Avaliable        40000.0            2.0
12      13         Keerti             HR  Not Avaliable            2.0
13      14          Nidhi          Sales  Not Avaliable            4.0
14       8           Ritu      Marketing        25000.0  Not Avaliable

In [7]:
data['Salary']=data['Salary'].fillna(data['Salary'].mean())
data

    Emp_Id    Name Department        Salary  Experience
0        1     Ram      Sales  50000.000000         5.0
1        2    Sana        NaN  42916.666667         3.0
2        3    Mega         HR  40000.000000         2.0
3        4     NaN      Sales  60000.000000         NaN
4        5   Laksh    Manager  55000.000000         4.0
5        6    Sita        NaN  50000.000000         5.0
6        1     Ram      Sales  50000.000000         5.0
7        8    Ritu  Marketing  25000.000000         NaN
8        9    Sara  Marketing  35000.000000         2.0
9        3    Mega         HR  40000.000000         2.0
10      11     NaN      Sales  45000.000000         NaN
11      12   Sanam        NaN  40000.000000         2.0
12      13  Keerti         HR  42916.666667         2.0
13      14   Nidhi      Sales  42916.666667         4.0
14       8    Ritu  Marketing  25000.000000         NaN

In [10]:
data['Department']=data['Department'].fillna(data['Department'].mode()[0])
data

    Emp_Id    Name Department        Salary  Experience
0        1     Ram      Sales  50000.000000         5.0
1        2    Sana      Sales  42916.666667         3.0
2        3    Mega         HR  40000.000000         2.0
3        4     NaN      Sales  60000.000000         NaN
4        5   Laksh    Manager  55000.000000         4.0
5        6    Sita      Sales  50000.000000         5.0
6        1     Ram      Sales  50000.000000         5.0
7        8    Ritu  Marketing  25000.000000         NaN
8        9    Sara  Marketing  35000.000000         2.0
9        3    Mega         HR  40000.000000         2.0
10      11     NaN      Sales  45000.000000         NaN
11      12   Sanam      Sales  40000.000000         2.0
12      13  Keerti         HR  42916.666667         2.0
13      14   Nidhi      Sales  42916.666667         4.0
14       8    Ritu  Marketing  25000.000000         NaN

In [12]:
data['Experience']=data['Experience'].fillna(data['Experience'].median())
data

    Emp_Id    Name Department        Salary  Experience
0        1     Ram      Sales  50000.000000         5.0
1        2    Sana      Sales  42916.666667         3.0
2        3    Mega         HR  40000.000000         2.0
3        4     NaN      Sales  60000.000000         3.0
4        5   Laksh    Manager  55000.000000         4.0
5        6    Sita      Sales  50000.000000         5.0
6        1     Ram      Sales  50000.000000         5.0
7        8    Ritu  Marketing  25000.000000         3.0
8        9    Sara  Marketing  35000.000000         2.0
9        3    Mega         HR  40000.000000         2.0
10      11     NaN      Sales  45000.000000         3.0
11      12   Sanam      Sales  40000.000000         2.0
12      13  Keerti         HR  42916.666667         2.0
13      14   Nidhi      Sales  42916.666667         4.0
14       8    Ritu  Marketing  25000.000000         3.0

In [14]:
data=data.dropna(subset=['Name'])
data

    Emp_Id    Name Department        Salary  Experience
0        1     Ram      Sales  50000.000000         5.0
1        2    Sana      Sales  42916.666667         3.0
2        3    Mega         HR  40000.000000         2.0
4        5   Laksh    Manager  55000.000000         4.0
5        6    Sita      Sales  50000.000000         5.0
6        1     Ram      Sales  50000.000000         5.0
7        8    Ritu  Marketing  25000.000000         3.0
8        9    Sara  Marketing  35000.000000         2.0
9        3    Mega         HR  40000.000000         2.0
11      12   Sanam      Sales  40000.000000         2.0
12      13  Keerti         HR  42916.666667         2.0
13      14   Nidhi      Sales  42916.666667         4.0
14       8    Ritu  Marketing  25000.000000         3.0

In [15]:
data.duplicated()

0     False
1     False
2     False
4     False
5     False
6      True
7     False
8     False
9      True
11    False
12    False
13    False
14     True
dtype: bool

In [16]:
data['Emp_Id'].duplicated()

0     False
1     False
2     False
4     False
5     False
6      True
7     False
8     False
9      True
11    False
12    False
13    False
14     True
Name: Emp_Id, dtype: bool

In [17]:
data.drop_duplicates()

    Emp_Id    Name Department        Salary  Experience
0        1     Ram      Sales  50000.000000         5.0
1        2    Sana      Sales  42916.666667         3.0
2        3    Mega         HR  40000.000000         2.0
4        5   Laksh    Manager  55000.000000         4.0
5        6    Sita      Sales  50000.000000         5.0
7        8    Ritu  Marketing  25000.000000         3.0
8        9    Sara  Marketing  35000.000000         2.0
11      12   Sanam      Sales  40000.000000         2.0
12      13  Keerti         HR  42916.666667         2.0
13      14   Nidhi      Sales  42916.666667         4.0

In [19]:
data=data.drop_duplicates(subset='Emp_Id',keep='first')
data

    Emp_Id    Name Department        Salary  Experience
0        1     Ram      Sales  50000.000000         5.0
1        2    Sana      Sales  42916.666667         3.0
2        3    Mega         HR  40000.000000         2.0
4        5   Laksh    Manager  55000.000000         4.0
5        6    Sita      Sales  50000.000000         5.0
7        8    Ritu  Marketing  25000.000000         3.0
8        9    Sara  Marketing  35000.000000         2.0
11      12   Sanam      Sales  40000.000000         2.0
12      13  Keerti         HR  42916.666667         2.0
13      14   Nidhi      Sales  42916.666667         4.0

In [21]:
data=data.reset_index(drop=True)
data

   Emp_Id    Name Department        Salary  Experience
0       1     Ram      Sales  50000.000000         5.0
1       2    Sana      Sales  42916.666667         3.0
2       3    Mega         HR  40000.000000         2.0
3       5   Laksh    Manager  55000.000000         4.0
4       6    Sita      Sales  50000.000000         5.0
5       8    Ritu  Marketing  25000.000000         3.0
6       9    Sara  Marketing  35000.000000         2.0
7      12   Sanam      Sales  40000.000000         2.0
8      13  Keerti         HR  42916.666667         2.0
9      14   Nidhi      Sales  42916.666667         4.0